# Database dùng chung
DB_HOST=quickbite-postgres
DB_PORT=5432

# User Service
USER_DB_NAME=quickbite_db
USER_DB_USERNAME=your_username
USER_DB_PASSWORD=your_password
USER_SERVER_PORT=8081

# Restaurant Service
RESTAURANT_DB_NAME=quickbite_db
RESTAURANT_DB_USERNAME=your_username
RESTAURANT_DB_PASSWORD=your_password
RESTAURANT_SERVER_PORT=8082

# Order Service
ORDER_DB_NAME=quickbite_db
ORDER_DB_USERNAME=your_username
ORDER_DB_PASSWORD=your_password
ORDER_SERVER_PORT=8083

# Notification Service
NOTIFICATION_DB_NAME=quickbite_db
NOTIFICATION_DB_USERNAME=your_username
NOTIFICATION_DB_PASSWORD=your_password
NOTIFICATION_SERVER_PORT=8084